:root {
	--background-svg: url('panels.svg');

	--primary-bordline-size: 0.5em;
	--secondary-bordline-size: 0.2em;
	--tertiary-bordline-size: 0.1em;

	--primary-scrollbar-size: 8px;
	--primary-scrollbar-track-margin: 8px;
	--primary-scrollbar-border-size: 8px;

	--primary-scrollbar-track-color: #acacac00;
	--primary-scrollbar-color: #eeeeee;

	--lcd-background-color: #56632c;
	--lcd-pixel-color: #111111;

	--background-color: #0a0a0a;
	--middle-ground-color: #1d1d1d;
	--foreground-color: #acacac;

	--primary-text-color: #eee;
	--secondary-text-color: #acacac;
	--tertiary-text-color: #0a0a0a;

	--header-text-color: #eee;
	--header-background-color: #eeeeee00;

	--primary-bordline-color: #eee;
	--secondary-bordline-color: #acacac;

	--interaction-text-color: #005fac;
	--security-text-color: #ac0000;
	--configuration-text-color: #aca900;

	--interaction-bordline-color: #005fac;
	--security-bordline-color: #ac0000;
	--configuration-bordline-color: #aca900;

	--input-background-color: #0a0a0a00;
	--input-background-hover-color: #eee;

	--button-background-color: #eeeeee00;
	--button-background-hover-color: #eee;
}


::-webkit-scrollbar {
	width: var(--primary-scrollbar-size);
}

::-webkit-scrollbar-track {
	background-color: var(--primary-scrollbar-track-color);
	margin-top: var(--primary-scrollbar-track-margin);
	margin-bottom: var(--primary-scrollbar-track-margin);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-scrollbar-color);
	border-radius: var(--primary-scrollbar-border-size);
}

body {
	font-family: monospace;
	background: var(--background-svg) center;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	margin: 0;
	padding: 0;
}

footer {
	margin: auto;
	margin-top: 5em;
	margin-bottom: 1em;
	min-width: 25em;
	max-width: 50em;
	font-weight: normal;
	text-align: center;
}

a {
	color: var(--secondary-text-color);
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--primary-text-color);
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	text-align: center;
	word-wrap: break-word;
	font-weight: bolder;
	font-size: 350%;
	user-select: none;
}

div .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div .category {
	border: none;
	margin: auto;
	margin-bottom: 5em;
	width: 95%;
	min-width: 25em;
	max-width: 45em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.category[type="interaction"] {
	border-color: var(--interaction-bordline-color);
	color: var(--interaction-text-color);
}

.category[type="security"] {
	border-color: var(--security-bordline-color);
	color: var(--security-text-color);
}

.category[type="configuration"] {
	border-color: var(--configuration-bordline-color);
	color: var(--configuration-text-color);
}

div .category-header {
	color: inherit;
	background-color: var(--header-background-color);
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	font-size: xx-large;
	user-select: none;
}

div .category-container {
	border-color: inherit;
	border-style: dotted;
	border-radius: 0.5em;
	overflow-x: hidden;
	display: flex;
	min-height: 2.5vh;
	width: 100%;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

div .box-form {
	border: var(--primary-bordline-size) double var(--primary-bordline-color);
	border-radius: 0.5em;
	margin: 2.5vh;
	overflow: hidden;
	min-width: 25em;
	max-width: 50em;
}

div .box-form-header {
	outline: var(--tertiary-bordline-size) solid var(--primary-bordline-color);
	color: var(--header-text-color);
	background-color: var(--header-background-color);
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	min-height: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	font-size: xx-large;
	user-select: none;
}

div .box-form-container {
	padding: 1.5vh;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 3vh;
	max-height: 25em;
}

.form-buttons,
.form-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5em 0;
	padding: 1%;
}

.form-buttons {
	justify-content: space-evenly;
	align-items: center;
	margin: 2vh 45%;
}

.form-select {
	font: inherit;
	width: auto;
	align-items: right;
	border-radius: 0.25em;
	background: none;
	background-color: var(--input-background-color);
	color: var(--secondary-text-color);
	text-align: center;
	user-select: none;
	border: none;
	outline: none;
	transition: all 0.1s ease-in-out;
}

select:hover {
	color: var(--primary-text-color);
	background-color: var(--background-color);
}

.form-value,
.form-label {
	font-weight: normal;
	font-size: 1.2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	color: var(--primary-text-color);
}

.form-value {
	user-select: text;
	font-weight: lighter;
	color: var(--secondary-text-color);
}

.box-form input[type="text"],
.box-form input[type="password"] {
	font: inherit;
	width: 45%;
	padding: 0.5em;
	border-radius: 0.25em;
	background: none;
	background-color: var(--input-background-color);
	color: var(--primary-text-color);
	border: var(--secondary-bordline-size) solid var(--primary-bordline-color);
	outline: none;
	transition: all 0.1s ease-in-out;
}

.box-form input:hover {
	background-color: var(--input-background-hover-color);
	color: var(--tertiary-text-color);
}

.box-form input:focus {
	transform: scale(1.025);
}

.box-form input[type="submit"],
.box-form input[type="reset"],
.box-form button {
	font: inherit;
	font-weight: normal;
	font-size: normal;
	text-align: center;
	display: inline;
	padding: 0.5em 1.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 0.5em;
	background: none;
	background-color: var(--button-background-color);
	color: var(--primary-text-color);
	border: var(--secondary-bordline-size) solid var(--primary-bordline-color);
	cursor: pointer;
	display: flex;
	user-select: none;
	transition: all 0.1s ease-in-out;
}

.box-form button:hover {
	background-color: var(--button-background-hover-color);
	color: var(--tertiary-text-color);
}

.box-form button:active {
	transform: scale(1.05);
}