:root {
	--background-svg: url('panels.svg');

	--primary-outline-size: 0.5em;
	--primary-border-size: 0.5em;

	--secondary-outline-size: 0.2em;
	--secondary-border-size: 0.2em;

	--primary-scrollbar-size: 8px;
	--primary-scrollbar-track-margin: 8px;
	--primary-scrollbar-border-size: 8px;

	--primary-scrollbar-track-color: #acacac00;
	--primary-scrollbar-color: #eeeeee;

	--lcd-background-color: #56632c;
	--lcd-pixel-color: #111111;

	--background-color: #0a0a0a;
	--middle-ground-color: #1d1d1d;
	--foreground-color: #acacac;

	--primary-text-color: #eee;
	--secondary-text-color: #acacac;
	--tertiary-text-color: #0a0a0a;

	--header-text-color: #eee;
	--header-background-color: #eeeeee00;

	--primary-outline-color: #eee;
	--secondary-outline-color: #acacac;

	--input-background-color: #0a0a0a00;
	--input-background-hover-color: #eee;

	--button-background-color: #eeeeee00;
	--button-background-hover-color: #eee;
}


::-webkit-scrollbar {
	width: var(--primary-scrollbar-size);
}

::-webkit-scrollbar-track {
	background-color: var(--primary-scrollbar-track-color);
	margin-top: var(--primary-scrollbar-track-margin);
	margin-bottom: var(--primary-scrollbar-track-margin);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-scrollbar-color);
	border-radius: var(--primary-scrollbar-border-size);
}

body {
	font-family: monospace;
	background: var(--background-svg) center;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	margin: 0;
	padding: 0;
}

footer {
	margin: auto;
	margin-top: 5em;
	margin-bottom: 5em;
	min-width: 25em;
	max-width: 50em;
	text-align: center;
}

h1 {
	color: var(--primary-text-color);
	margin-top: 2.5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	text-align: center;
	word-wrap: break-word;
	font-weight: bolder;
	font-size: 350%;
	user-select: none;
}

div .container {
	display: block;
	align-content: center;
}

div .box-form {
	border: var(--primary-outline-size) double var(--primary-outline-color);
	border-radius: 0.5em;
	overflow: hidden;
	margin: auto;
	margin-top: 5em;
	margin-bottom: 5em;
	min-width: 15em;
	max-width: 50em;
}

div .box-form-header {
	color: var(--header-text-color);
	background-color: var(--header-background-color);
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: xx-large;
	user-select: none;
}

div .box-form-container {
	outline: var(--secondary-outline-size) solid var(--primary-outline-color);
	padding-inline: 1.5em;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 25em;
}

.form-buttons,
.form-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5em 0;
	padding: 1%;
}

.form-buttons {
	justify-content: space-evenly;
	align-items: center;
	margin: 2vh 45%;
}

.form-value,
.form-label {
	font-weight: normal;
	font-size: 1.2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.form-value {
	user-select: text;
	font-weight: lighter;
	color: var(--secondary-text-color);
}

.box-form input[type="text"],
.box-form input[type="password"] {
	font: inherit;
	width: 45%;
	padding: 0.5em;
	border-radius: 0.25em;
	background: none;
	background-color: var(--input-background-color);
	color: var(--primary-text-color);
	border: var(--secondary-outline-size) solid var(--primary-outline-color);
	outline: none;
	transition: all 0.1s ease-in-out;
}

.box-form input:hover {
	background-color: var(--input-background-hover-color);
	color: var(--tertiary-text-color);
}

.box-form input:focus {
	transform: scale(1.025);
}

.box-form input[type="submit"],
.box-form input[type="reset"],
.box-form button {
	font: inherit;
	font-weight: normal;
	font-size: normal;
	text-align: center;
	display: inline;
	padding: 0.5em 1.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 0.5em;
	background: none;
	background-color: var(--button-background-color);
	color: var(--primary-text-color);
	border: var(--secondary-outline-size) solid var(--primary-outline-color);
	cursor: pointer;
	display: flex;
	user-select: none;
	transition: all 0.1s ease-in-out;
}

.box-form button:hover {
	background-color: var(--button-background-hover-color);
	color: var(--tertiary-text-color);
}

.box-form button:active {
	transform: scale(1.05);
}